@import "bootstrap";

body {
  padding-top: 60px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: 2px;
  padding-top: 9px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.label-link {
  font-size: 1em;
  font-weight: bold;
  a {
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.wide-button {
  width: 100%;
  margin-bottom: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.user-info {
  dt {
    width: 100px;
  }
  dd {
    margin-left: 120px;
  }
}

  .reviews {
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
    .rating {
      margin-left: 60px;
      display: block;
      font-weight: bold;
    }
    .rating-user {
      display: block;
      font-weight: bold;
    }
    .content {
      display: block;
      margin-left: 60px;
    }
    .content-user {
      display: block;
    }
    .timestamp {
      color: $gray-light;
      margin-top: 5em;
      padding-top: 0;
    }
    .gravatar {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
  }
